<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TechStore_DuAn_Nhom8"
        tools:targetApi="31">
        <activity
            android:name=".Activity.LichSuMuaHang"
            android:exported="false" />
        <activity
            android:name=".Activity.DoiMatKhau"
            android:exported="false" />
        <activity
            android:name=".Activity.ThayDoiThongTin"
            android:exported="false" />
        <activity
            android:name=".Activity.QuanLyTaiKhoan"
            android:exported="false" />
        <activity
            android:name=".Activity.ChiTietHoaDon"
            android:exported="false" />
        <activity
            android:name=".Activity.HoaDon"
            android:exported="false" />
        <activity
            android:name=".Activity.ThanhToan"
            android:exported="false" />
        <activity
            android:name=".Activity.ChiTietSanPham"
            android:exported="false" />
        <activity
            android:name=".Activity.GioHang"
            android:exported="false" />
        <activity
            android:name=".Activity.ListDongHo"
            android:exported="false" />
        <activity
            android:name=".Activity.ListMayTinh"
            android:exported="false" />
        <activity
            android:name=".Activity.ListDienThoai"
            android:exported="false" />
        <activity
            android:name=".Activity.Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.DangNhap"
            android:exported="false" />
        <activity
            android:name=".Activity.DangKi"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>